.cmb-animation-preview {
    margin-left: 10px !important;
    margin-top: 2px !important;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}